*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/buildSrc/build/


/api/.gradle
/api/.idea
/api/build
app/release/output-metadata.json
*.apk
*.json
/docs/env